<%= form_with(model: @deck) do |form| %>
  <div>
  <%= form.label :title, style: "display: block" %>
  <%= form.text_field :title %>
  </div>

  <div>
  <%= form.label :description, style: "display: block" %>
  <%= form.text_area :description %>
  </div>

  <div>
  <%= form.submit %>
  </div>
<% end %>
